:root {
    /*---Spinners---*/
    --stadium-spinner-color1: #193BD1;
    --stadium-spinner-color2: #19D1B7;
    --stadium-spinner-color3: #19AFD1;
    --stadium-spinner-background-color: rgba(0, 0, 0, 0.5);
    --stadium-spinner-width: 48px;
    --stadium-spinner-height: 48px;
}