/* CSS Version 1.1 https://github.com/stadium-software/spinners */
.control-container:has(.stadium-spinner.spinner-contained),
.layout-control:has(.stadium-spinner.spinner-contained) {
    position: relative;
}

.control-container:is(.stadium-spinner.spinner-contained),
.layout-control:is(.stadium-spinner.spinner-contained) {
    position: absolute;
    max-height: 100%;
    margin-right: var(--stadium-spinner-contained-right-margin, 16px);
    margin-top: var(--stadium-spinner-contained-top-margin, 10px);
}

.control-container:is(.stadium-spinner),
.layout-control:is(.stadium-spinner) {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--stadium-spinner-background-color);
    overflow: hidden;
    z-index: 10000000;
    max-height: 100vh;

    & .spinner-type-1 {
        width: var(--stadium-spinner-width);
        height: var(--stadium-spinner-height);
        border: 5px solid var(--stadium-spinner-color1);
        border-bottom-color: var(--stadium-spinner-color3);
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    & .spinner-type-2 {
        width: var(--stadium-spinner-width);
        height: var(--stadium-spinner-height);
        border: 5px solid var(--stadium-spinner-color3);
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    /*------------------------------------------------------------------*/
    & .spinner-type-3 {
        transform: rotateZ(45deg);
        perspective: 1000px;
        border-radius: 50%;
        width: var(--stadium-spinner-width);
        height: var(--stadium-spinner-height);
        color: var(--stadium-spinner-color3);
    }

    & .spinner-type-3:before,
    & .spinner-type-3:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        border-radius: 50%;
        transform: rotateX(70deg);
        animation: 1s spin linear infinite;
    }

    & .spinner-type-3:after {
        color: var(--stadium-spinner-color1);
        transform: rotateY(70deg);
        animation-delay: .4s;
    }

    /*------------------------------------------------------------------*/
    & .spinner-type-4 {
        width: var(--stadium-spinner-width);
        height: var(--stadium-spinner-height);
        border: 10px solid var(--stadium-spinner-color1);
        border-radius: 50%;
        position: relative;
        transform: rotate(45deg);
        box-sizing: border-box;
    }

    & .spinner-type-4::before {
        content: "";
        position: absolute;
        box-sizing: border-box;
        inset: -10px;
        border-radius: 50%;
        border: 10px solid var(--stadium-spinner-color3);
        animation: prixClipFix 2s infinite linear;
    }

    /*------------------------------------------------------------------*/
    & .spinner-type-5 {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: block;
        margin: 15px auto;
        position: relative;
        color: var(--stadium-spinner-color1);
        left: -100px;
        box-sizing: border-box;
        animation: shadowRolling 2s linear infinite;
    }

    /*------------------------------------------------------------------*/
    & .spinner-type-6 {
        width: var(--stadium-spinner-width);
        height: var(--stadium-spinner-height);
        border: 3px solid var(--stadium-spinner-color1);
        border-radius: 50%;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    & .spinner-type-6::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        background: var(--stadium-spinner-color3);
        width: 16px;
        height: 16px;
        transform: translate(-50%, 50%);
        border-radius: 50%;
    }

    /*------------------------------------------------------------------*/
    & .spinner-type-7 {
        width: var(--stadium-spinner-width);
        height: var(--stadium-spinner-height);
        border-radius: 50%;
        display: inline-block;
        position: relative;
        border: 3px solid;
        border-color: var(--stadium-spinner-color1) var(--stadium-spinner-color1) transparent transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    & .spinner-type-7::after,
    & .spinner-type-7::before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 3px solid;
        border-color: transparent transparent var(--stadium-spinner-color3) var(--stadium-spinner-color3);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-sizing: border-box;
        animation: rotationBack 0.5s linear infinite;
        transform-origin: center center;
    }

    & .spinner-type-7::before {
        width: 32px;
        height: 32px;
        border-color: var(--stadium-spinner-color1) var(--stadium-spinner-color1) transparent transparent;
        animation: rotation 1.5s linear infinite;
    }

    /*------------------------------------------------------------------*/
    & .spinner-type-8 {
        width: var(--stadium-spinner-width);
        height: var(--stadium-spinner-height);
        border: 3px dotted var(--stadium-spinner-color1);
        border-style: solid solid dotted dotted;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        animation: rotation 2s linear infinite;
    }

    & .spinner-type-8::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 3px dotted var(--stadium-spinner-color3);
        border-style: solid solid dotted;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        animation: rotationBack 1s linear infinite;
        transform-origin: center center;
    }
    /*------------------------------------------------------------------*/
    .spinner-type-9 {
        width: 28px;
        aspect-ratio: 1;
        border-radius: 50%;
        background: var(--stadium-spinner-color1);
        transform-origin: top;
        display: grid;
        animation: l3-0 1s infinite linear;
    }

    .spinner-type-9::before,
    .spinner-type-9::after {
        content: "";
        grid-area: 1/1;
        background: var(--stadium-spinner-color2);
        border-radius: 50%;
        transform-origin: top;
        animation: inherit;
        animation-name: l3-1;
    }

    .spinner-type-9::after {
        background: var(--stadium-spinner-color3);
        --s: 180deg;
    }
    /*----------------------------------------------------------------*/
    .spinner-type-10 {
        width: 28px;
        aspect-ratio: 1;
        border-radius: 50%;
        background: var(--stadium-spinner-color1);
        animation: l2 1.5s infinite;
    }
    /*------------------------------------------------------------------*/
    .spinner-type-11 {
        width: 50px;
        aspect-ratio: 1;
        border-radius: 50%;
        background: 
            radial-gradient(farthest-side,var(--stadium-spinner-color1) 95%,transparent) 50% 1px/12px 12px no-repeat,
            radial-gradient(farthest-side,transparent calc(100% - 14px),var(--stadium-spinner-color3) 0);
        animation: l9 2s infinite linear;
    }
    /*------------------------------------------------------------------*/
    .spinner-type-12 {
        width: 40px;
        height: 40px;
        position: relative;
        --c: no-repeat linear-gradient(var(--stadium-spinner-color1) 0 0);
        background:
            var(--c) center/100% 10px,
            var(--c) center/10px 100%;
    }

    .spinner-type-12:before {
        content: '';
        position: absolute;
        inset: 0;
        background:
            var(--c) 0 0,
            var(--c) 100% 0,
            var(--c) 0 100%,
            var(--c) 100% 100%;
        background-size: 15.5px 15.5px;
        animation: l16 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
    }
    /*------------------------------------------------------------------*/
    .spinner-type-13 {
        width: calc(100px - 14px);
        height: 50px;
        border-radius: 50px;
        background: 
        radial-gradient(farthest-side,transparent calc(100% - 15px),var(--stadium-spinner-color1) calc(100% - 14px) 99%,transparent) left,
        radial-gradient(farthest-side,transparent calc(100% - 15px),var(--stadium-spinner-color1) calc(100% - 14px) 99%,transparent) right;
        background-size: calc(50% + 7px) 100%;
        background-repeat: no-repeat;
        position: relative;
        animation: l10-0 1s infinite linear;
    }
    .spinner-type-13:before {
        content: "";
        position: absolute;
        inset: 0;
        margin: auto; 
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--stadium-spinner-color3);
        transform-origin: -14px 50%;
        animation: l10-1 0.5s infinite linear;
    }
    /*------------------------------------------------------------------*/
    .spinner-type-14 {
        width: 80px;
        aspect-ratio: 1;
        background: 
            radial-gradient(farthest-side at top,transparent calc(100% - 21px),var(--stadium-spinner-color1) calc(100% - 20px) 99%,transparent) bottom/100% 50%,
            radial-gradient(farthest-side,var(--stadium-spinner-color1) 94%,transparent ) left /20px 20px,
            radial-gradient(farthest-side,var(--stadium-spinner-color1) 94%,transparent ) right/20px 20px;
        background-repeat: no-repeat;
        position: relative;
    }
    .spinner-type-14::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        inset: auto 0 0;
        margin: auto;
        border-radius: 50%;
        background: var(--stadium-spinner-color3);
        transform-origin: 50% -20px;
        animation: l14 1s infinite cubic-bezier(0.5,623,0.5,-623);
    }
    /*------------------------------------------------------------------*/
    .spinner-type-15 {
        width: 60px;
        height: 60px;
        display: flex;
        color: var(--stadium-spinner-color1);
        --c: transparent calc(100% - 20px), currentColor calc(100% - 19px) 98%, transparent;
        background:
            radial-gradient(farthest-side at left, var(--c)) right /50% 100%,
            radial-gradient(farthest-side at top, var(--c)) bottom/100% 50%;
        background-repeat: no-repeat;
        animation: l18-0 2s infinite linear .25s;
    }
    .spinner-type-15::before {
        content: "";
        width: 50%;
        height: 50%;
        background: radial-gradient(farthest-side at bottom right, var(--c));
        animation: l18-1 .5s infinite linear;
    }
    /*------------------------------------------------------------------*/
    .spinner-type-16 {
        width: 50px;
        height: 50px;
        display: flex;
        color: var(--stadium-spinner-color3);
        background:
            linear-gradient(currentColor 0 0) right /51% 100%,
            linear-gradient(currentColor 0 0) bottom /100% 51%;
        background-repeat: no-repeat;
        animation: l17-0 2s infinite linear .25s;
    }
    .spinner-type-16::before {
        content: "";
        width: 50%;
        height: 50%;
        background: currentColor;
        transform-origin: 10% 10%;
        animation: l17-1 .5s infinite linear;
    }
    /*------------------------------------------------------------------*/
    .spinner-type-17 {
        width: 120px;
        height: 20px;
        -webkit-mask: linear-gradient(90deg,var(--stadium-spinner-color1) 70%,transparent 0) left/20% 100%;
        background:
        linear-gradient(var(--stadium-spinner-color1) 0 0) left -25% top 0 /20% 100% no-repeat
        var(--stadium-spinner-color3);
        animation: l7 1s infinite steps(6);
    }
    /*------------------------------------------------------------------*/
    .spinner-type-18 {
        width: 120px;
        height: 60px;
        border-radius: 200px 200px 0 0;
        -webkit-mask: repeating-radial-gradient(farthest-side at bottom ,var(--stadium-spinner-color1) 0,var(--stadium-spinner-color2) 1px 12%,transparent calc(12% + 1px) 20%);
        background:
        radial-gradient(farthest-side at bottom,var(--stadium-spinner-color1) 0 95%,transparent 0) bottom/0% 0% no-repeat
        var(--stadium-spinner-color3);
        animation: l10 2s infinite steps(6);
    }
    /*------------------------------------------------------------------*/
    .spinner-type-19 {
        width: 90px;
        height: 14px;
        box-shadow: 0 3px 0 var(--stadium-spinner-color3);
        position: relative;
        display: grid;
        clip-path: inset(-60px 0 -5px)
    }
    .spinner-type-19:after {
        content: "";
        position: relative;
        background: repeating-linear-gradient(90deg,transparent 0 calc(50% - 8px), var(--stadium-spinner-color1) 0 calc(50% + 8px), transparent 0 100%) 0 0/calc(100%/3) 100%;
        animation: l6-1 1s infinite;
    } 
    .spinner-type-19:before {
        content: "";
        position: absolute;
        width: 14px;
        aspect-ratio: 1;
        left: calc(50% - 7px);
        bottom: 0;
        border-radius: 50%;
        background: var(--stadium-spinner-color2);
        animation: l6-2 1s infinite;
    }
    /*------------------------------------------------------------------*/
    .spinner-type-20 {
        width: 60px;
        aspect-ratio: 4;
        background: radial-gradient(closest-side at calc(100%/6) 50%,var(--stadium-spinner-color3) 90%,transparent) 0/75% 100%;
        position: relative;
        animation: l15-0 1s infinite linear;
    }
    .spinner-type-20::before {
        content:"";
        position: absolute;
        background: inherit;
        clip-path: inset(0 0 0 50%);
        inset: 0;
        animation: l15-1 0.5s infinite linear;
    }
}
@keyframes l15-0 {

    0%,
    49.99% {
        transform: scale(1)
    }

    50%,
    100% {
        transform: scale(-1)
    }
}
@keyframes l15-1 {
    0% {
        transform: translateX(-37.5%) rotate(0turn)
    }

    80%,
    100% {
        transform: translateX(-37.5%) rotate(1turn)
    }
}
@keyframes l6-1 {
  50%,100% {background-position: calc(100%/2) 0}
}
@keyframes l6-2 {
  0%,50% {transform:translateY(-80px)}
}
@keyframes l10 {
    100% {
        background-size: 120% 120%
    }
}
@keyframes l7 {
    100% {
        background-position: right -25% top 0
    }
}
@keyframes l17-0 {

    0%,
    12.49% {
        transform: rotate(0deg)
    }

    12.5%,
    37.49% {
        transform: rotate(90deg)
    }

    37.5%,
    62.49% {
        transform: rotate(180deg)
    }

    62.5%,
    87.49% {
        transform: rotate(270deg)
    }

    87.5%,
    100% {
        transform: rotate(360deg)
    }
}

@keyframes l17-1 {
    0% {
        transform: perspective(80px) rotate3d(-1, 1, 0, 0)
    }

    80%,
    100% {
        transform: perspective(80px) rotate3d(-1, 1, 0, -360deg)
    }
}
@keyframes l18-0 {

    0%,
    12.49% {
        transform: rotate(0deg)
    }

    12.5%,
    37.49% {
        transform: rotate(90deg)
    }

    37.5%,
    62.49% {
        transform: rotate(180deg)
    }

    62.5%,
    87.49% {
        transform: rotate(270deg)
    }

    87.5%,
    100% {
        transform: rotate(360deg)
    }
}

@keyframes l18-1 {
    0% {
        transform: perspective(150px) rotateY(0) rotate(0)
    }

    50% {
        transform: perspective(150px) rotateY(180deg) rotate(0)
    }

    80%,
    100% {
        transform: perspective(150px) rotateY(180deg) rotate(90deg)
    }
}@keyframes l14 {
    100% {
        transform: rotate(0.5deg)
    }
}
@keyframes l10-0 {

    0%,
    49.99% {
        transform: scaleX(1)
    }

    50%,
    100% {
        transform: scaleX(-1)
    }
}

@keyframes l10-1 {
    100% {
        transform: rotate(1turn)
    }
}
@keyframes l16 {
    33% {
        inset: -10px;
        transform: rotate(0deg)
    }

    66% {
        inset: -10px;
        transform: rotate(90deg)
    }

    100% {
        inset: 0;
        transform: rotate(90deg)
    }
}
@keyframes l9 {
    to {
        transform: rotate(1turn)
    }
}
@keyframes l2 {
    0%,
    100% {
        transform: translate(-35px);
        box-shadow: 0 0 var(--stadium-spinner-color2), 0 0 var(--stadium-spinner-color3)
    }

    40% {
        transform: translate(35px);
        box-shadow: -15px 0 var(--stadium-spinner-color2), -30px 0 var(--stadium-spinner-color3)
    }

    50% {
        transform: translate(35px);
        box-shadow: 0 0 var(--stadium-spinner-color2), 0 0 var(--stadium-spinner-color3)
    }

    90% {
        transform: translate(-35px);
        box-shadow: 15px 0 var(--stadium-spinner-color2), 30px 0 var(--stadium-spinner-color3)
    }
}
@keyframes l3-0 {

    0%,
    20% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes l3-1 {
    50% {
        transform: rotate(var(--s, 90deg))
    }

    100% {
        transform: rotate(0)
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    12.5% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    37.5% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }

    62.5% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    87.5% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }
}

@keyframes shadowRolling {
    0% {
        box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }

    12% {
        box-shadow: 100px 0 var(--stadium-spinner-color3), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }

    25% {
        box-shadow: 110px 0 var(--stadium-spinner-color3), 100px 0 var(--stadium-spinner-color3), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }

    36% {
        box-shadow: 120px 0 var(--stadium-spinner-color3), 110px 0 var(--stadium-spinner-color3), 100px 0 var(--stadium-spinner-color3), 0px 0 rgba(255, 255, 255, 0);
    }

    50% {
        box-shadow: 130px 0 var(--stadium-spinner-color3), 120px 0 var(--stadium-spinner-color3), 110px 0 var(--stadium-spinner-color3), 100px 0 var(--stadium-spinner-color3);
    }

    62% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 var(--stadium-spinner-color3), 120px 0 var(--stadium-spinner-color3), 110px 0 var(--stadium-spinner-color3);
    }

    75% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 var(--stadium-spinner-color3), 120px 0 var(--stadium-spinner-color3);
    }

    87% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 var(--stadium-spinner-color3);
    }

    100% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
