/* CSS Version 1.1 https://github.com/stadium-software/spinners */
:root {
    /*---Spinners---*/
    --stadium-spinner-color1: #193BD1;
    --stadium-spinner-color2: #19D1B7;
    --stadium-spinner-color3: #ffffff;
    --stadium-spinner-background-color: rgba(0, 0, 0, 0.5);
    --stadium-spinner-width: 48px;
    --stadium-spinner-height: 48px;
    --stadium-spinner-contained-right-margin: 16px;
    --stadium-spinner-contained-top-margin: 10px;
}